

h1{
    text-align: center;
}
body{
    background: linear-gradient(to right, #add8e6, #ffffff);
}
table{
    width: 98%;
    border:1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10px;
    
}

th, td {
   
    margin: 15px;
    padding: 15px;
    
  }

.delete{
    margin-right: 15px;
    background-color:tomato;
    border-radius: 10px;
    height: 40px;
    width: fit-content;
}

.update{
    margin-right: 15px;
    background-color: green;
    border-radius: 10px;
    height: 40px;
    width:fit-content ;
}